.admin-card {
  margin-top: 47px;
}
.admin-card .btn-primary {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 7px 17px !important;
  display: inline-block;
  color: var(--white) !important;
  border: 0px;
  border-radius: 12px;
  cursor: pointer !important;

  background: linear-gradient(
    45.74deg,
    var(--redBorder) -27.41%,
    var(--lightRed) 121.65%
  );
}
.admin-card .btn-primary:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
  background: var(--redBorder);
  color: var(--white);
  border-color: var(--redBorder);
}
.admin-card .btn-primary:active {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
  background: var(--redBorder);
  color: var(--white);
  border-color: var(--redBorder);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%) !important;
  background: var(--redBorder) !important;
  color: var(--white) !important;
  border-color: var(--redBorder) !important;
}
.admin-card .btn-primary:focus {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
  background: var(--redBorder);
  color: var(--white);
  border-color: var(--redBorder);
}

.admin-card .lotterycard {
  padding: 12px 9px 18px 9px;
  background: var(--lightPink);
  border-bottom: 6px solid var(--redBorder);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 37px;
}
.admin-card .card-content {
  background: var(--white);
  padding: 16px 16px;
}
.admin-card .detail {
  text-align: left;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.admin-card .labeltext {
  color: var(--black);
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  font-family: "Mulish", sans-serif;
  white-space: nowrap;
  width: 140px;
}

.admin-card .valuetext {
  color: var(--darkGrey);
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  font-family: "Mulish", sans-serif;
  width: 100%;
}
.margintp {
  margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .admin-card .card-content {
    display: flex;
    align-items: center;
    height: 350px;
    justify-content: center;
  }
}
